@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #0a0a0a;
  color: #fff;
}

.header {
  display: flex;
  gap: 2rem;
}

.user-pic {
  width: 40px;
  height: 40px;
}
.user-hello p {
  font-size: 14px;
}
.user-hello h3 {
  font-size: 16px;
  font-weight: bold;
}
.step-card {
  margin: 1rem 2rem;
}
