@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #0a0a0a;
  color: #fff;
}

.header {
  display: flex;
  gap: 2rem;
}

.user-pic {
  width: 40px;
  height: 40px;
}
.user-hello p {
  font-size: 14px;
}
.user-hello h3 {
  font-size: 16px;
  font-weight: bold;
}

.step-card {
  margin: 1rem 2rem;
}

.programs-list {
  margin: 1rem 2rem;
}
.programs-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

/* EXERCISE SCREEN*/

.exercise-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.exercise-screen .backButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.exercise-screen .videoContainer {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exercise-screen .video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.exercise-screen .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.exercise-screen .timer {
  font-size: 80px;
  color: #ff6b00;
}

.exercise-screen .exercise {
  margin-top: 10px;
  font-size: 20px;
}

.exercise-screen .progressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 0 10px;
}

.exercise-screen .controls {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 2rem;
}

.exercise-screen .prevButton,
.exercise-screen .nextButton {
  background-color: #ff6b00;
  border: none;
  border-radius: 5px;
  color: #1a1a1a;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.exercise-screen .footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.exercise-screen .seeAllButton {
  background: none;
  border: none;
  color: #ff6b00;
  font-size: 16px;
  cursor: pointer;
}

/* PROGRAM */

.program-page .workouts-list {
  display: flex;
  /* gap: 1rem; */
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem 0;
}

.program-page .program-header {
  height: 20vh;
  display: flex;
  align-items: flex-end;

  position: relative;
}

.program-page .program-header .veil {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0a0a0a6d;

  height: 20vh;
  width: 100%;

  z-index: 0;
}

.program-page .program-header h2 {
  z-index: 1;
  font-size: 25px;
  font-weight: 600;

  padding: 0 2rem;
}
.days-work .day-item {
  padding: 1rem;
  background-color: #3b3a3a;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-style: italic;
}
.program-page .program-header a {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 25px;
  z-index: 1;
  font-weight: 900;
}

.program-page .description {
  margin: 1rem;
  background: #1a1a1a;
  padding: 1rem;
  border-radius: 0.4rem;
}

/*LOADER*/
.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #fff;
  box-shadow: -24px 0 #fff, 24px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow: -24px 0 #ff6b00, 24px 0 #fff;
  }
  66% {
    background: #ff6b00;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 #ff6b00;
  }
}

/* WORKOUT */

.workout-page {
}

.exercises-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
  margin-bottom: 10vh;
}

.exercises-list a {
  background-color: #1a1a1a;
  padding: 1.5rem 1rem;
  border-radius: 20px;
}

.information-card {
  background-color: #1a1a1a;
  border-radius: 20px;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  max-width: 400px;
  margin: 1rem;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.informations {
  z-index: 1;
}

.informations h2 {
  font-size: 3rem;
  margin: 0;
}

.informations p {
  font-size: 1.2rem;
}

.cta-button {
  margin-top: 20px;
}

.cta-button button {
  background-color: #fff;
  color: #1a1a1a;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.information-card::before {
  content: "";
  background: inherit;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  border-radius: 20px;
}
